upstream fastcgi_backend {

    server unix:/run/php/php{{ php_version }}-fpm.sock;
}

server {

    listen 80;
    server_name {{ magento_base_url }};
    set $MAGE_ROOT {{ magento_chdir }};

    access_log /var/log/nginx/magento-access.log;
    error_log /var/log/nginx/magento-error.log;
    include {{ magento_chdir }}/nginx.conf.sample;
}
